<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/cinema?serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">********</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">create-drop</property>

        <mapping class="com.cinema.model.CinemaHall" />
        <mapping class="com.cinema.model.Movie" />
        <mapping class="com.cinema.model.MovieSession" />
        <mapping class="com.cinema.model.Order" />
        <mapping class="com.cinema.model.ShoppingCart" />
        <mapping class="com.cinema.model.Ticket" />
        <mapping class="com.cinema.model.User" />
    </session-factory>
</hibernate-configuration>
